@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-card {
  background-color: rgba(255, 59, 131);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: #fff;
  border: 1px solid rgba(33, 155, 185, 0.5);
}

.sub-breeds {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-back {
  width: 100%;
  height: 30px;
  background-color: rgb(211, 49, 108);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}

.icon-back {
  color: #fff;
  padding-left: 5px;
  font-size: 16px;
}

.back-text {
  padding-left: 8px;
  font-size: 18px;
}

.breedname-details-header {
  height: 200px;
  width: 100%;
  background-color: rgb(255, 59, 131);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}

.details-stats {
  height: 35px;
  background-color: rgb(211, 49, 108);
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.details-header {
  text-align: end;
  align-self: end;
  margin-bottom: 8%;
  padding-right: 12px;
}

.breed-name {
  font-size: 22px;
  font-weight: 600;
}

.breed-cat {
  font-size: 17px;
  font-weight: 400;
}

.no-data {
  padding-top: 5px;
  text-align: center;
}

.subcategories-details {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.itemContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 59, 131);
  margin: 0;
  padding: 0;
}

.category {
  margin: 0;
  height: 50px;
  background-color: rgb(53, 170, 199);
  color: #fff;
  padding-left: 5px;
}

.category-li {
  margin: 0;
  height: 80px;
  color: #fff;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
}

.category-li:hover,
.category-li:focus {
  background-color: rgb(231, 208, 73);
}

.category-li:nth-child(odd) {
  background-color: rgb(240, 56, 123);
}

.category-li:nth-child(even) {
  background-color: rgb(211, 49, 108);
}

.subcategory {
  font-size: 17px;
}

.sub-img {
  padding-right: 2px;
  font-size: 16px;
  text-align: right;
}

.make-bold {
  font-weight: 600;
}
